<div class="head">
    <div id="pageTitle">NonInertial Frame</div>
    <ul class="routeList">
        <li id="aboutMe" class="route"><a href="/aboutme">About Me</a></li>
        <li id="home" class="route selected"><a href="/">Home</a></li>
        <li id="aboutSite" class="route"><a href="/aboutsite">About Site</a></li>
    </ul>
    <hr id="headerLine">
</div>