<% include ./partials/header.ejs %>
<div class="head">
    <div id="pageTitle">NonInertial Frame</div>
    <ul class="routeList">
        <li id="aboutMe" class="route"><a href="/aboutme">About Me</a></li>
        <li id="home" class="route"><a href="/">Home</a></li>
        <li id="aboutSite" class="route selected"><a href="/aboutsite">About Site</a></li>
    </ul>
    <hr id="headerLine">
</div>
<div class="main">
<p>This is about the site
</p>
</div>
<script type="text/javascript" src="scripts/home.js"></script>
<% include ./partials/footer.ejs %>