<% include ./partials/header.ejs %>
<% include ./partials/siteHead.ejs %>

<% include ./partials/colheader.ejs %>
<p> This is about me </p>
<% include ./partials/colfooter.ejs %>

<script>
    document.getElementById("aboutSite").style.color = "black";
</script>

<% include ./partials/footer.ejs %>