#commentDivTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.6em;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

#commentNum {
    font-weight: 400;
}

.commentFormInput {
    display: inline-block;
    width: 50%;
}

#submitArea {
    display: table;
    width: 100%;
    padding-bottom: 3.3em;
    table-layout: fixed;
}

#submitRow {
    width: 38em;
    display: table-cell;
}

#commentList {
    padding-bottom: 3em;
}

#nicknameInputDiv, #passwordInputDiv {
    display: table-cell;
    text-align: left;
    width: 19em;
}

.commentFormInput {
    width: 11em;
}

#commentSubmit {
    text-align: right;
}

#commentSubmitBtn {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
    padding: 0.3em 1.2em 0.3em 1.2em;
    display: table-cell;
}

.inputBox {
    width: 100%;
}

#submitArea label {
    padding-right: 0.9em;
    font-size: 1.1em;
}

.commentDiv {
    /*padding-bottom: 1.5em;*/
}

.container-fluid {
    padding: 0;
}

.commentDisplay {
    display: table;
    width: 100%;
}

.commentInfo {
    padding-bottom: 0.8em;
    /*margin-bottom: 0;*/
    /*width: 80%;*/
    text-align: left;
    /*float: left;*/
    display: table-cell;
}

.commentNickname {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    padding-right: 0.8em;
    display: inline-block;
}

.commentTime {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding-right: 1em;
    display: inline-block;
}

.commentEditRoute, .commentDeleteRoute {
    display: table-cell;
    text-align: right;
    width: 5em;
}

.editRoute, .deleteRoute {
    font-size: 1.2em;
    display: inline-block;
    color: #C0C0C0;
}

.editRoute:hover, .deleteRoute:hover {
    cursor: pointer;
    color: black;
}

.commentContent {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    display: inline-block;
    line-height: 1.8;
}

.commentEditInput {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.8;
}

.commentAuth {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin-bottom: 0.5em;
    height: 3em;
}

.passwordAuth {
    display: table-cell;
    width: 40%;
    vertical-align: middle;
}

.passwordAuth label {
    padding-right: 1em;
    font-size: 1.1em;
}

.commentPasswordInput {
    display: inline-block;
    width: 50%;
}

.authGroup {
    display: table-cell;
    text-align: right;
    width: 12em;
    vertical-align: middle;
}


.cancelAuth {
    /*display: table-cell;*/
    display: inline-block;
    text-align: right;
    width: 7.5em;
}


.cancelBtn {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    background-color: #696969;
    color: white;
    text-align: center;
    border: none;
    padding: 0.3em 1em 0.3em 1em;
    display: inline-block;
}


.deleteAuth {
    /*display: table-cell;*/
    display: inline-block;
    text-align: right;
    width: 8em;
}

.passwordQ {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    /*display: table-cell;*/
    display: inline-block;
    text-align: right;
    width: 5.5em;
}

.deleteBtn, .editBtn {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    background-color: #696969;
    color: white;
    text-align: center;
    border: none;
    padding: 0.3em 1em 0.3em 1em;
    display: table-cell;
}

.editAuth {
    /*display: table-cell;*/
    display: inline-block;
    text-align: right;
    width: 8em;
}

/* Move post button to next line */
@media screen and (max-width: 920px) {
    #submitRow {
        display: table-row;
    }
    #commentSubmit {
        padding-top: 1em;
        position: absolute;
        width: 100%;
    }
    #commentSubmitBtn {
        width: 100%;
    }
    #nicknameInputDiv, #passwordInputDiv {
        width: 50%;
    }
    .commentFormInput {
        width: 60%;
    }
    #submitArea label {
        padding-right: 0.4em;
    }
    #commentList {
        padding-top: 2.3em;
    }
    .commentAuth label {
        padding-right: 0.4em;
    }
    .commentEditRoute {
        width: 3em;
    }
    .passwordQ {
        display: none;
    }
    .editAuth, .deleteAuth {
        width: 6.5em;
    }
}

/* Nickname and password input divs take up a row each instead of sharing a row */
@media screen and (max-width: 510px) {
    #submitRow {
        display: table;
        width: inherit;
    }
    #nicknameInputDiv, #passwordInputDiv {
        display: table-row;
        width: 100%;
    }
    #passwordInputDiv > label {
        padding-top: 1em;
    }
    #submitRow label {
        display: table-cell;
    }
    .commentFormInput, .inputBox {
        display: table-cell;
        width: 100%;
    }
}

/* For post edit/delete, POST and CANCEL button needs to be moved to a new line */
@media screen and (max-width: 450px) {
    .passwordAuth {
        display: table-row;
        width: 100%;
    }
    .passwordAuth > label {
        display: table-cell;
        padding-top: 1em;
    }
    .authGroup {
        display: table-row;
    }
    .commentPasswordInput {
        display: table-cell;
        width: 70%;
    }
    .authPasswordForm {
        display: table-cell;
        width: 100%;
    }
    /*.deleteAuth, .editAuth, .cancelAuth {*/
    /*    display: inline-block;*/
    /*    padding-top: 0.8em;*/
    /*    width: 100%;*/
    /*    text-align: center;*/
    /*}*/
    /*.deleteBtn, .editBtn, .cancelBtn {*/
    /*    width: 100%;*/
    /*}*/
    /*.deleteAuth, .editAuth {*/
        /*display: inline-block;*/
    /*    padding-top: 0.8em;*/
    /*    width: 100%;*/
    /*    text-align: center;*/
    /*}*/
    /*.cancelAuth {*/
    /*    float: right;*/
    /*}*/
    .authGroup {
        display: table;
        width: 100%;
    }
    .deleteAuth, .cancelAuth, .editAuth {
        display: table-cell;
        width: 50%;
        padding-top: 0.8em;
    }
}