#commentDivTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.6em;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

#commentNum {
    font-weight: 400;
}

.commentFormInput {
    display: inline-block;
    width: 50%;
}

#submitArea {
    display: table;
    width: 100%;
    padding-bottom: 3em;
}

#commentList {
    padding-bottom: 3em;
}

#nicknameInputDiv {
    display: table-cell;
    padding-right: 1em;
}

#passwordInputDiv {
    display: table-cell;
    padding-right: 1em;
}

#commentSubmit {
    text-align: right;
}

#commentSubmitBtn {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    display: table-cell;
}

.inputBox {
    width: 100%;
}

#submitArea label {
    padding-right: 1em;
    font-size: 1.1em;
}

.commentDiv {
    padding-bottom: 1.5em;
}

.container-fluid {
    padding: 0;
}

.commentDisplay {
    display: table;
    width: 100%;
}

.commentInfo {
    padding-bottom: 0.8em;
    /*margin-bottom: 0;*/
    /*width: 80%;*/
    text-align: left;
    /*float: left;*/
    display: table-cell;
}

.commentNickname {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    padding-right: 0.8em;
    display: inline-block;
}

.commentTime {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding-right: 3em;
    display: inline-block;
}

.commentEditRoute, .commentDeleteRoute {
    display: table-cell;
    text-align: right;
    width: 5em;
}

.editRoute, .deleteRoute {
    font-size: 1.2em;
    display: inline-block;
    color: #C0C0C0;
}

.editRoute:hover, .deleteRoute:hover {
    cursor: pointer;
    color: black;
}

.commentContent {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    display: inline-block;
    line-height: 1.8;
}

.commentEditInput {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.8;
}

.commentAuth {
    width: 100%;
    display: table;
    padding-top: 1em;
    table-layout: fixed;
}

.passwordAuth {
    display: table-cell;
    width: 40%;
}

.passwordAuth label {
    padding-right: 1em;
    font-size: 1.1em;
}

.commentPasswordInput {
    display: inline-block;
    width: 60%;
}

.authGroup {
    display: table-cell;
    text-align: right;
    width: 60%;
}


.cancelAuth {
    /*display: table-cell;*/
    display: inline-block;
    text-align: right;
    width: 7.5em;
}


.cancelBtn {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    background-color: #696969;
    color: white;
    text-align: center;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    display: inline-block;
}


.deleteAuth {
    /*display: table-cell;*/
    display: inline-block;
    text-align: right;
    width: 8em;
}

.passwordQ {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    /*display: table-cell;*/
    display: inline-block;
    text-align: right;
    width: 5.5em;
}

.deleteBtn {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    background-color: #696969;
    color: white;
    text-align: center;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    display: table-cell;
}

.editAuth {
    /*display: table-cell;*/
    display: inline-block;
    text-align: right;
    width: 5.5em;
}

.editBtn {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    background-color: #696969;
    color: white;
    text-align: center;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    display: table-cell;
}

