#head {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: static;
    top: 0;
    width: 100%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1.0);
    text-align: center;
    z-index: 1;
}

#pageTitle {
    font-size: 3.7em;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-align: center;
    display: block;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
}

.routeList {
    width: 100%;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.routeList li {
    display: inline;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #C0C0C0;
}

a {
    color: inherit;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}

a:hover {
    color: #708090;
    cursor: pointer;
}

#headerLine{
    color: #C0C0C0;
    margin-top: 0.6em;
    margin-bottom: 0;
    width: 40%;
}