.postTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.8em;
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin: 0;
}

.postDate {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin: 0;
}

.postContent {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    padding-top: 1em;
    padding-bottom: 0.8em;
    line-height: 1.9;
}

.postContent p {
    padding-bottom: 0.5em;
    margin: 0;
}

.postFooter {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 2em;
}

i {
    padding-right: 0.2em;
}