.postTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.8em;
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin: 0;
}

.postDate {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin: 0;
}

.postContent {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    padding-top: 1em;
    padding-bottom: 0.8em;
    line-height: 1.9;
}

.postContent p {
    padding-bottom: 1.2em;
    margin: 0;
}

.postContent a {
    color: #3366cc;
}
.postContent a:hover {
    color: #C0C0C0;
}

.postFooter {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 3em;
}

i {
    padding-right: 0.2em;
}

.image {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 1em;
}

img {
    width: 100%;
    height: 100%;
    margin: auto;
}

@media screen and (max-width: 470px) { /* When title becomes two lines */
    .postTitle {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 400px) { /* When title becomes two lines */
    .postTitle {
        font-size: 1.4em;
    }
    .postDate {
        font-size: 0.9em;
    }
    .postContent {
        font-size: 1em;
    }
}